---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/info?symbol=ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cmc-Pro-Api-Key:
      - test-coinmarketcap-api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2021-10-07T02:01:10.895Z","error_code":0,"error_message":null,"elapsed":11,"credit_count":1,"notice":null},"data":{"ETH":{"id":1027,"name":"Ethereum","symbol":"ETH","category":"coin","description":"Ethereum
        (ETH) is a cryptocurrency . Users are able to generate ETH through the process
        of mining. Ethereum has a current supply of 117,822,787.3115. The last known
        price of Ethereum is 3,513.34713647 USD and is up 0.57 over the last 24 hours.
        It is currently trading on 5010 active market(s) with $22,051,476,761.65 traded
        over the last 24 hours. More information can be found at https://www.ethereum.org/.","slug":"ethereum","logo":"https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png","subreddit":"ethereum","notice":"","tags":["mineable","pow","smart-contracts","ethereum","binance-smart-chain","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","arrington-xrp-capital","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dragonfly-capital-portfolio","electric-capital-portfolio","fabric-ventures-portfolio","framework-ventures","hashkey-capital-portfolio","kinetic-capital","huobi-capital","alameda-research-portfolio","a16z-portfolio","1confirmation-portfolio","winklevoss-capital","usv-portfolio","placeholder-ventures-portfolio","pantera-capital-portfolio","multicoin-capital-portfolio","paradigm-xzy-screener"],"tag-names":["Mineable","PoW","Smart
        Contracts","Ethereum","Binance Smart Chain","Coinbase Ventures Portfolio","Three
        Arrows Capital Portfolio","Polychain Capital Portfolio","Binance Labs Portfolio","Arrington
        XRP capital","Blockchain Capital Portfolio","BoostVC Portfolio","CMS Holdings
        Portfolio","DCG Portfolio","DragonFly Capital Portfolio","Electric Capital
        Portfolio","Fabric Ventures Portfolio","Framework Ventures","Hashkey Capital
        Portfolio","Kinetic Capital","Huobi Capital","Alameda Research Portfolio","A16Z
        Portfolio","1Confirmation Portfolio","Winklevoss Capital","USV Portfolio","Placeholder
        Ventures Portfolio","Pantera Capital Portfolio","Multicoin Capital Portfolio","Paradigm
        XZY Screener"],"tag-groups":["OTHER","CONSENSUS_ALGORITHM","PROPERTY","PLATFORM","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY","PROPERTY"],"urls":{"website":["https://www.ethereum.org/","https://en.wikipedia.org/wiki/Ethereum"],"twitter":["https://twitter.com/ethereum"],"message_board":["https://forum.ethereum.org/","https://ethresear.ch/"],"chat":["https://gitter.im/orgs/ethereum/rooms"],"explorer":["https://etherscan.io/","https://ethplorer.io/","https://blockchair.com/ethereum","https://bscscan.com/token/0x2170ed0880ac9a755fd29b2688956bd959f933f8","https://eth.tokenview.com/en/blocklist"],"reddit":["https://reddit.com/r/ethereum"],"technical_doc":["https://github.com/ethereum/wiki/wiki/White-Paper"],"source_code":["https://github.com/ethereum"],"announcement":["https://bitcointalk.org/index.php?topic=428589.0"]},"platform":null,"date_added":"2015-08-07T00:00:00.000Z","twitter_username":"ethereum","is_hidden":0}}}'
  recorded_at: Thu, 07 Oct 2021 02:01:10 GMT
recorded_with: VCR 6.0.0
