---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cmc-Pro-Api-Key:
      - test-coinmarketcap-api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2021-10-08T03:39:35.076Z","error_code":0,"error_message":null,"elapsed":20,"credit_count":1,"notice":null,"total_count":7122},"data":[{"id":1,"name":"Bitcoin","symbol":"BTC","slug":"bitcoin","num_market_pairs":8527,"date_added":"2013-04-28T00:00:00.000Z","tags":["mineable","pow","sha-256","store-of-value","state-channels","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","arrington-xrp-capital","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dragonfly-capital-portfolio","electric-capital-portfolio","fabric-ventures-portfolio","framework-ventures","galaxy-digital-portfolio","huobi-capital","alameda-research-portfolio","a16z-portfolio","1confirmation-portfolio","winklevoss-capital","usv-portfolio","placeholder-ventures-portfolio","pantera-capital-portfolio","multicoin-capital-portfolio","paradigm-xzy-screener"],"max_supply":21000000,"circulating_supply":18837706,"total_supply":18837706,"platform":null,"cmc_rank":1,"last_updated":"2021-10-08T03:38:02.000Z","quote":{"USD":{"price":53853.84605722145,"volume_24h":35664606394.86121,"percent_change_1h":-0.08049597,"percent_change_24h":-1.93058,"percent_change_7d":23.57830268,"percent_change_30d":15.8506565,"percent_change_60d":24.08594399,"percent_change_90d":59.25745607,"market_cap":1014482918995.1969,"market_cap_dominance":44.5955,"fully_diluted_market_cap":1130930767201.65,"last_updated":"2021-10-08T03:38:02.000Z"}}},{"id":1027,"name":"Ethereum","symbol":"ETH","slug":"ethereum","num_market_pairs":5010,"date_added":"2015-08-07T00:00:00.000Z","tags":["mineable","pow","smart-contracts","ethereum","binance-smart-chain","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","arrington-xrp-capital","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","d[...]
