---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/map?symbol=ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cmc-Pro-Api-Key:
      - test-coinmarketcap-api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2021-10-05T02:24:18.249Z","error_code":0,"error_message":null,"elapsed":15,"credit_count":1,"notice":null},"data":[{"id":1027,"name":"Ethereum","symbol":"ETH","slug":"ethereum","rank":2,"is_active":1,"first_historical_data":"2015-08-07T14:49:30.000Z","last_historical_data":"2021-10-05T02:19:02.000Z","platform":null}]}'
  recorded_at: Tue, 05 Oct 2021 02:24:18 GMT
recorded_with: VCR 6.0.0
