---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/map?symbol=USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cmc-Pro-Api-Key:
      - test-coinmarketcap-api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2021-10-05T04:08:33.095Z","error_code":0,"error_message":null,"elapsed":12,"credit_count":1,"notice":null},"data":[{"id":825,"name":"Tether","symbol":"USDT","slug":"tether","rank":5,"is_active":1,"first_historical_data":"2015-02-25T13:34:26.000Z","last_historical_data":"2021-10-05T03:59:09.000Z","platform":{"id":1027,"name":"Ethereum","symbol":"ETH","slug":"ethereum","token_address":"0xdac17f958d2ee523a2206206994597c13d831ec7"}}]}'
  recorded_at: Tue, 05 Oct 2021 04:08:33 GMT
recorded_with: VCR 6.0.0
