---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/map
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2021-10-02T16:55:56.959Z",
                "error_code": 1002,
                "error_message": "API key missing.",
                "elapsed": 0,
                "credit_count": 0
            }
        }
  recorded_at: Sat, 02 Oct 2021 16:55:56 GMT
recorded_with: VCR 6.0.0
